<% provide(:title, 'Process') %>


<div class="page_container_process">
	<div class="left_top_container_process">
		<h1 class="left_container_text_process">Our Process</h1>
	</div>
	<div class="right_top_container_process">
		<p class="right_top_container_text_process">
			After initial heating, <span class="bold">the entire process is self-sustaining</span>.
		</p>
	</div>
	<div class="page_content_process">
		<div class="left_content_process">
			<p class="first_section_process">Under high temperatures, the pyrolysis process starts, transforming waste tires from a solid state to liquids and gas. The compositions are broken down and transferred, condensing the gas into fuel oil.</p>
			<p class="second_section_process">The pyrolysis system is auto-feeding and auto-discharging. Materials are pyrolized slowly in the reactor, and then funneled through pipes to different storage chambers. Here they are stored for either further processing, or for recovery of other raw by-products for reuse.</p>
		</div>
		<div class="right_content_process">
			<%= image_tag "pyrolysis.png" %>
				<%= image_tag "facility1.png", :class => "facility_1"%>
				<%= image_tag "facility2.png", :class => "facility_2"  %>
				<%= image_tag "facility3.png", :class => "facility_3"%>
				<%= image_tag "facility4.png", :class => "facility_4"%>
		</div>
	</div>
</div>