<% provide(:title, 'Sign in') %>

<div class="form">
		<h1>Sign in</h1>

		<%= form_for(:session, url: sessions_path) do |f| %>

			<table>
				<tr>
					<th><%= f.label :email %></th>
					<th><%= f.text_field :email %></th>
				</tr>
				<tr>
					<th><%= f.label :password %></th>
					<th><%= f.password_field :password %></th>
				</tr>
			</table>

			<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>

		<% end %>

		<p>New User? <%= link_to "Sign up now!", signup_path %> </p>
</div>
