<% provide(:title, 'Sign up') %>

<div class="form">
  <h1>Sign up</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

<table>
  <tr>
    <th><%= f.label :first_name %></th>
    <th><%= f.text_field :first_name %></th>
  </tr>
  <tr>
    <th><%= f.label :last_name %></th>
    <th><%= f.text_field :last_name %></th>
  </tr>
  <tr>
    <th><%= f.label :email %></th>
    <th><%= f.text_field :email %></th>
  </tr>
  <tr>
    <th><%= f.label :phone_number %></th>
    <th><%= f.text_field :phone_number %></th>
  </tr>
  <tr>
    <th><%= f.label :password %></th>
    <th><%= f.password_field :password %></th>
  </tr>
  <tr>
    <th><%= f.label :password_confirmation, "Confirmation" %></th>
    <th><%= f.password_field :password_confirmation %></th>
  </tr>
</table>

    <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
<% end %>
<%= link_to 'Back', users_path %>
</div>